/* Open chat */

.openContainer {
  position: fixed;
  bottom: 100px;
  right: 100px;
}

.open {
  width: 75px;
  height: 75px;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 5px rgb(19, 146, 19);
  background: rgb(19, 146, 19);
  color: white;
  font-size: 36px;
  transition: all 300ms ease;
}

.open:hover {
  color: rgb(19, 146, 19);
  background: white;
}

/* Chat container */

.nav {
  width: 100%;
  display: flex;
}

.header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(19, 146, 19);
  font-size: 48px;
  position: relative;
}

.content {
  flex: 1;
  position: relative;
  font-size: 16px;
  height: 100%;
}

.logout, .close {
  position: absolute;
  font-size: 24px;
  color: black;
  z-index: 1;
  width: 30px;
  text-align: center;
}

.logout {
  top: 5px;
  left: 10px;
}

.close {
  top: 5px;
  right: 10px;
}

.logout:hover, .close:hover {
  color:red;
  cursor: pointer;
}

/* friendList */

.container {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.list {
  flex: 1;
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  overflow-y: auto;
}

.list__header {
  width: 100%;
  padding: 10px;
  background: rgb(19, 146, 19);
  color: white;
  font-weight: 800;
  font-size: 20px;
  text-align: center;
}

.list__unread {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  color: #005d8c;
  display:flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right:0;
  text-indent: 0;
}

/* Addfriend panel */

.addInput {
  border: 0;
  outline: 0;
  padding: 5px;
  width: 200px;
  font-size: 20px;
  box-shadow: 3px 3px 3px rgb(19, 146, 19);
}

.addInput:focus {
  box-shadow: 3px 3px 3px rgb(19, 146, 19);
}

.addButton {
  padding: 5px 10px;
  border: 0;
  background: rgb(19, 146, 19);
  color: white;
  font-size: 20px;
  box-shadow: 0px 3px 3px rgb(19, 146, 19);
}

.message {
  position: relative;
  padding: 10px;
}

.message__icon {
  font-size: 36px;  
}

.message__button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background: white;
}

.accept, .decline {
  border: none;
  background: none;
}

.accept {
  color: rgb(19, 146, 19);
}

.decline {
  color: red;
}
