body {
  font-size: 2vh;
}

#root {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.friend-panel {
  z-index:2;
  height: 90vh;
}

.friend-panel-item {
  padding: 5vh;
  background-color: dodgerblue;
  color: white;
  height: 90vh;
  border-radius: 2vh;
}

.card-header, .add-input {
  width: 8vw;
}

.list-group-item.active {
  background-color: white;
  color: dodgerblue;
}

.friend-list-item {
  height: 6vh;
  background-color: dodgerblue;
  display:flex;
  align-items:center;
}

.friend-list-item-enter {
  opacity:0.01;
  /* height: 0; */
}

.friend-list-item-enter-active {
  opacity: 1;
  /* height: 6vh; */
  transition: all 300ms ease-in;
}

.friend-list-item-exit {
  opacity: 1;
  /* height: 6vh; */
}

.friend-list-item-exit-active {
  opacity:0.01;
  /* height: 0; */
  transition: all 300ms ease-out;
}

.friend-panel-item-enter {
  opacity: 0.01;
}

.friend-panel-item-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.friend-panel-item-exit {
  opacity: 1;
}

.friend-panel-item-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-out;
}

.conversation {
  border-radius: 2vh;
  background-color: dodgerblue;
  height: 90vh;
  color: white;
  padding: 6vh;
  margin: 0 6vh;
  text-align: center;
}

.conversation-enter {
  opacity:0;
}

.conversation-enter-active {
  opacity:1;
  transition: opacity .2s ease-in;
}

.conversation-exit {
  opacity:1;
}

.conversation-exit-active {
  opacity: 0;
  transition: opacity .2s ease;
}

.main-panel-item-enter {
  margin-left: -20vw;
  /* width: 0; */
  /* padding: 0; */
}

.main-panel-item-enter-active{
  /* right: 0; */
  margin-left: 0;
  /* padding: 6vh; */
  /* width: 60%; */
  transition: all .3s;
}

.main-panel-item-exit {
  /* right: 0; */
  /* padding: 6vh; */
  margin-left: 0;
  /* width: 60%; */

}

.main-panel-item-exit-active {
  /* right: 60%; */
  /* padding: 0; */
  margin-left: -20vw;
  /* width: 0; */
  transition: all .3s;
}

.controls {
  position: relative;
  z-index: 2;
}

.close-button {
  position: absolute;
  top:10px;
  right:20px;
}

.close-button:hover {
  cursor: pointer;
  color: red;
}

.add-friend-form {
  height: 90vh;

}

.chat-display {
  width: 100%;
  height: 50vh;
  background-color: white;
  border-radius:2vh;
  margin: 3vh 0;
}

textarea {
  width: 100%;
  border-radius: 2vh;
  padding: 2vh;
  border: none;
  resize: none;
}

.form {
  border: 1px solid rgb(211, 211, 211);
  padding: 8vw;
  border-radius: 2vh; 
  position:relative;
}

.form-links {
  display: flex;
  position: absolute;
  bottom: 1vh;
  right: 1vh;
}

.form-link {
  cursor: pointer;
  color: dodgerblue;
  padding: 1vh;
}

.form-title {
  position: absolute;
  font-size: 3vh;
  top:3vw;
  left:3vw;
}

.form-error {
  color: rgb(255, 103, 103);
}

.form-label {
  font-size: 1vw;
}