body {
  font-size: 2vh;
}

#root {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  width: 5vw;
  height: 5vh;
  font-size: 1vw;
}

.friend-panel {
  z-index:2;
  height: 90vh;
  width: 15vw;
}

.friend-panel-item {
  padding: 3vh;
  background-color: dodgerblue;
  color: white;
  height: 90vh;
  border-radius: 2vh;
  width: 100%;
}

.card-header, .add-input-container, .request-message-container {
  width: 100%;
  font-size: 1vw;
  padding: 1vw 0;
  overflow: hidden;
  text-align:center;
}

.list-group-item.active {
  background-color: white;
  color: dodgerblue;
}

.friend-list-item {
  height: 3vh;
  padding: 2vh 0;
  width: 100%;
  background-color: dodgerblue;
  display:flex;
  align-items:center;
  justify-content: center;
  border:none;
}

.friend-list-item:hover {
  cursor: pointer;
  background-color: rgba(216, 204, 204, 0.2);
  color: white;
}

.friend-panel-item-enter, .request-panel-item-enter, .conversation-enter, .friend-list-item-enter {
  opacity: 0.01;
}

.friend-panel-item-enter-active, .request-panel-item-enter-active, .conversation-enter-active, .friend-list-item-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.friend-panel-item-exit, .request-panel-item-exit, .conversation-exit, .friend-list-item-exit {
  opacity: 1;
}

.friend-panel-item-exit-active, .request-panel-item-exit-active, .conversation-exit-active, .friend-list-item-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-out;
}

.conversation {
  border-radius: 2vh;
  background-color: dodgerblue;
  height: 90vh;
  color: white;
  padding: 6vh;
  margin: 0 3vh;
  text-align: center;
  width: 65%;
}

.main-panel-item-enter {
  margin-left: -20vw;
}

.main-panel-item-enter-active{
  margin-left: 0;
  transition: all .3s;
}

.main-panel-item-exit {
  margin-left: 0;
}

.main-panel-item-exit-active {
  margin-left: -20vw;
  transition: all .3s;
}

.controls {
  position: relative;
  z-index: 2;
}

.close-button {
  position: absolute;
  top:1vh;
  right:1vw;
}

.close-button:hover {
  cursor: pointer;
  color: red;
}

.add-friend-form {
  height: 90vh;

}

.chat-display {
  width: 100%;
  height: 50vh;
  background-color: white;
  margin: 3vh 0;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: thin; 
  scrollbar-color: hsl(210, 100%, 56%, 0.2) white
}

textarea {
  width: 100%;
  border-radius: 2vh;
  padding: 2vh;
  border: none;
  resize: none;
}

.form {
  border: 1px solid rgb(211, 211, 211);
  padding: 8vw;
  border-radius: 2vh; 
  position:relative;
}

.form-links {
  display: flex;
  position: absolute;
  bottom: 1vh;
  right: 1vh;
}

.form-link {
  cursor: pointer;
  color: dodgerblue;
  padding: 1vh;
}

.form-title {
  position: absolute;
  font-size: 3vh;
  top:3vw;
  left:3vw;
}

.form-error {
  color: rgb(255, 103, 103);
}

.form-label {
  font-size: 1vw;
}

.add-form-container {
  height: 30%;
  width: 12vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.request-message-container {
  position:relative;
  text-align: center;
  padding: 2vh 0;
  border-radius: 2vh;
  background-color: rgb(124, 122, 122, .1);
}

.message-container {
  padding: 1.5vh;
  color: dodgerblue;
  width: 70%;
}

.message-time {
  font-size: .7vw;
  color: rgb(128, 128, 128, 0.5);
}

.message-contents {
  color: dodgerblue;
  padding: .5vw 1.5vw;
  border-radius: 1.5vw;
  display: inline-block;
}

.message {
  word-break: break-all;
  margin-bottom: 0;
  display: flex;
  text-align: left;
}

.to .message-contents {
  background-color: rgb(30, 144, 255, .2);
}
.from .message-contents {
  background-color: rgb(128, 128, 128, .2);
}
.to {
  margin-left: auto;
  text-align: right;
}

.from {
  margin-right: auto;
  text-align: left;
}

@media screen and (max-width: 900px) {
  .friend-panel {
    position: absolute;
    z-index: 0;
    top: 5vh;
  }
  .conversation {
    width: 100%;
  }
}